# Build artifacts
bin/
obj/
debug/
*.user
*.suo
*.dll

# VS
.vs/
/vBase.ComShim/vBase.tlb
/vBase.ComShim.Setup/Release
/vBase.Core.Tests/settings.local.yml
/packages
/publish-product-documentation/node_modules
/publish-product-documentation/src/*.js
/Docs/vbase-core.md
/Docs/vbase-com-sdk.md
